@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: "Open Sans", sans-serif;
  /*font-family: 'M PLUS 1p', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #E8CBC0;
  background: -webkit-linear-gradient(to bottom, #636FA4, #E8CBC0);
  background: linear-gradient(to bottom, #636FA4, #E8CBC0);  */
  background: #b993d6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8ca6db, #b993d6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8ca6db, #b993d6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100% 150%;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: gradientTransform;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}